/**************Página****************/

html {
    /*fonte e cor de fundo*/
    background-color: rgba(0, 0, 0, 0.938);
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    color: ghostwhite;
}

/**************Cabeçalho****************/

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    
}

#img-header {
    width: auto;
}

#img-um {
    width: 100%;
}

header div {
    font-size: 30px;
    font-weight: bold;
}

/**************Corpo****************/

.section {
    
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5px;
}

.div-texto {
    
    padding: 5px;
    text-align: justify;
    line-height: 25px;
    font-size: 20px;

}

.sub-titulo {
    text-align: center;
}

button:hover {
    cursor:pointer;
    color: red;
}



/**************Oferta****************/
#oferta {
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#botao {
    margin: 15px;
}

button {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: ghostwhite;
    color: rgba(11, 13, 15, 0.863);
    height: 50px;
    width: 1000px;
    border: 0;
    border-radius: 2cqb;
}

/**************Rodapé****************/
footer {
    background-color: ghostwhite;
    color: rgba(34, 35, 37, 0.863);
    text-align: center;
    font-weight: bold;
}

#rodape {
    list-style: none;
    padding: 8px;
    display: flex;
    justify-content: space-around;
}

#rodape li {
    padding: 2px;
    font-size: 25px;
}

footer #rodape a {
    text-decoration: none;
    color: rgba(5, 5, 5, 0.863);
}

footer #rodape a:hover {
    color: rgb(255, 196, 0);
}

#div-social {
    padding-top: 7px;
    text-align:center;
    display: inline-block; 
    margin-top: 5px;   
}

.social {
    margin: 20px;
}

div {
    text-align:center;
    font-weight: 200;
    padding: 0;
}

#amazon {
    padding-bottom: 5px;  
}

#logo-amazon {
    width: 100px;
}